<p><b>New Devices:</b><br/>
<ul>{% for device in items.new_devices %}<li> Device {{ loop.index }}: {{ device|upper }} - {{ items.new_devices[device]['ip'] }} - {{ items.new_devices[device]['status'] }} - {{ items.new_devices[device]['name'] }} {% endfor %}</ul>
<br/>
<p><b>Devices Changed Status:</b><br/>
<ul>{% for device in items.changed_devices %}<li> Device {{ loop.index }}: {{ device|upper }} - {{ items.changed_devices[device]['ip'] }} - {{ items.changed_devices[device]['status'] }} - {{ items.changed_devices[device]['name'] }} {% endfor %}</ul>
<br/>
<p><b>Detected By</b> <i>WhoIsConnected</i>
