<p><b>New Devices:</b><br/>
<ul>{% for device in items.new_devices %}
    {% if items.new_devices[device]['status'] == 'Online' %}
    <li> Device {{ loop.index }}: {{ device|upper }} - {{ items.new_devices[device]['ip'] }} - <font color="blue">Online</font> - {{ items.new_devices[device]['name'] }}
    {% else %}
    <li> Device {{ loop.index }}: {{ device|upper }} - {{ items.new_devices[device]['ip'] }} - <font color="red">Offline</font> - {{ items.new_devices[device]['name'] }}
    {% endif %}
    {% endfor %}
</ul>
<br/>
<p><b>Devices Changed Status:</b><br/>
<ul>{% for device in items.changed_devices %}
    {% if items.new_devices[device]['status'] == 'Online' %}
    <li> Device {{ loop.index }}: {{ device|upper }} - {{ items.new_devices[device]['ip'] }} - <font color="blue">Online</font> - {{ items.new_devices[device]['name'] }}
    {% else %}
    <li> Device {{ loop.index }}: {{ device|upper }} - {{ items.new_devices[device]['ip'] }} - <font color="red">Offline</font> - {{ items.new_devices[device]['name'] }}
    {% endif %}
    {% endfor %}
</ul>
<br/>
<p><b>Detected By</b> <i>WhoIsConnected</i>
